apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-{{ .Values.SITE | default "default"}}-backend
  labels:
    app: {{ .Chart.Name }}-{{ .Values.SITE | default "default" }}-backend-service
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: {{ .Chart.Name }}-{{ .Values.SITE | default "default" }}-backend-pod
