apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .Values.BACKEND_HOST }}
      http:
        paths:
          - backend:
              service:
                port:
                  number: 80
                name: {{ .Chart.Name }}-{{ .Values.SITE | default "default" }}-backend
            path: /
            pathType: Prefix
